<div class="col-sm-offset-2 col-sm-10">
    <h1>Edit Workout</h1>
    <%= render partial: 'partials/errors', locals: {obj: @workout} %>
</div>
<%= render partial: 'form', locals: {workout: @workout} %>