<div class="form__padding">
    <div class="container">
    
        <h1>Public Workouts</h1>

        <%= render partial: 'filter_for' %>
        
        <div class="right">
            <%= link_to 'Workouts with most popular category', most_popular_path %>
        </div>
        
        <%= render partial: 'table', locals: {workouts: @workouts} %>
        

    </div>
</div>