<div class="form__padding">
    <div class="container">
    
        <h1>Public Workouts</h1>

        <%= render partial: 'filter_for' %>
        
        <%= render partial: 'table', locals: {workouts: @workouts} %>
        

    </div>
</div>