<% if obj.errors.any? %>
  <div id="error_explanation">
    <div class="text-danger">
    <% obj.errors.full_messages.each do |msg| %>
    
      <%= msg %><br>
    <% end %>
    </div>
  </div>
<% end %>