<%= form_for [workout, scheduled_workout] do |f| %>
    <div class="form-group">
        <%= f.date_select :start_time %><br>
    </div>

    <div class="form-group">
    <%= f.submit 'Add to Calendar', class: 'btn btn-primary'%>
    </div>
<% end %>