
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.img__down{
  padding-top: 100px;
}
.center__text{
  text-align: center;;
}
.home_img{
  background-image: url('home_img.jpg'); 
  background-size: cover;
  background-repeat:no-repeat; 
  height: 900px;
}

.form__padding{
  padding-top: 70px;
}
.github img{
  height: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.right{
    float: right;
}

.left{
  float: left;
}
.checkbox__categories {
  padding-top: 7px;
}

.checkbox__categories label {
  padding-right: 25px;
  padding-left: 5px;
  font-weight: normal;
}

 .exersice_label {
  padding-left: 30px;
}

.form-inline{
  padding-bottom: 15px;
}

.remove_calendar {
  font-size: smaller;
}

.google_signin{
  padding-left: 110px;
}
.google_signin img {
  width: 230px;
  height: 100%;
}

.simple-calendar {
    table {
        float: left;
        position: center;
        left: 0px;
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgb(0, 0, 0);
      border-collapse: collapse;
      box-sizing: border-box;
      max-width: 800px;
      width: 100%;
      height: 100%;
    }
  
    tr {
      border-collapse: collapse;
    }
  
    th {
      padding: 6px;
      border-bottom: 2px solid rgb(0, 0, 0);;
      border-collapse: collapse;
      border-left: 1px solid rgb(0, 0, 0);;
      border-right: 1px solid rgb(0, 0, 0);
      border-top: 1px none rgb(0, 0, 0);;
      box-sizing: border-box;
      text-align: center;
    }
  
    td {
      padding: 6px;
      vertical-align: top;
      width: 14%;
  
      border: 1px solid #ddd;
      border-top-color: rgb(0, 0, 0);;
      border-top-style: solid;
      border-top-width: 1px;
      border-right-color: rgb(0, 0, 0);
      border-right-style: solid;
      border-right-width: 1px;
      border-bottom-color: rgb(0, 0, 0);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgb(0, 0, 0);;
      border-left-style: solid;
      border-left-width: 1px;
    }

    .calendar-heading {
        font-size: 135%;
    }
    .calendar-heading a {
        color: blue;
    }
  
    .day {
      height: 80px;
    }
  
 
  
    .today {
      background: #FFFFC0
    }
  
 
  
    .prev-month {
      background: #DDD;
    }
    .next-month {
      background: #DDD;
    }
   
  }