<div class='container-fluid'>
    <div class='center__text'>
        <h1>You are resting today!</h1>
    </div>
    <br>
    <div class='container-fluid'>
    
    <%= image_tag 'resting_felines.jpg' %>
    </div>
</div>