<div class="form__padding">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>About Us</h1>
                <p>
                We are a passionate about health and fitness. Our mission is to help people organize their own workout routine, and create a space where people can share their workouts. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar egestas ex a tempor. Donec nec justo interdum, bibendum odio vel, lobortis quam. Donec ac nisl ac metus sodales tincidunt aliquet sit amet lectus. Vestibulum sem felis, pretium et ultricies id, sodales quis nisl. Suspendisse fringilla ornare felis ut tempor. Morbi purus nibh, efficitur sed est sed, egestas tincidunt tortor. Fusce quis elementum nibh, sed bibendum eros. Suspendisse potenti. Pellentesque finibus suscipit lorem eu sollicitudin.
                </p>
                <p>
                Fusce fermentum auctor lacus, vel condimentum lectus viverra eleifend. Praesent faucibus ut est at tristique. Quisque placerat, leo a rhoncus efficitur, libero eros facilisis orci, a tempus purus nisi ac tortor. Aliquam nunc diam, vehicula ac sollicitudin id, imperdiet et diam. Cras vitae eleifend quam. Mauris vehicula faucibus nisl eu porta. Nam sollicitudin, enim at volutpat scelerisque, massa lectus tristique dui, at fringilla orci metus quis nibh. Ut a quam sit amet ex facilisis maximus in ut libero. Maecenas congue ut urna sed vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies rutrum eros, sed aliquet orci consectetur eget. Cras quis lorem turpis. Cras posuere, tellus vitae faucibus mattis, dui risus tempus nibh, at ullamcorper lacus leo ac magna. Quisque eget augue urna. Pellentesque semper fringilla vulputate.
                </p>
            </div>
            
            <div class="col-md-6">
            <br><br><br>
                <%= image_tag 'about_us.jpg' %>
            </div>
        </div>
    </div>
</div>