<%= month_calendar events: @scheduled_workouts do |date, scheduled_workouts| %>
  <%= date %>

  <% scheduled_workouts.each do |scheduled_workout| %>
    <div>
      <%= scheduled_workout.workout.name %>
    </div>
  <% end %>
<% end %>