<%= month_calendar events: @scheduled_workouts do |date, scheduled_workouts| %>
  <%= date.day %>

  <% scheduled_workouts.each do |scheduled_workout| %>
    <div>
      <%= link_to scheduled_workout.workout.name, workout_path(scheduled_workout.workout) %>
    </div>
  <% end %>
<% end %>

<%= display_todays_workout %>


