<div class="form__padding">
  <div class="container">
    <div class="row">
    
      <div class="col-md-6">
        
        <div class="center__text">
          <h1>Your Calendar</h1>
        </div>
        <%= render partial: 'calendar', locals: {scheduled_workouts: @scheduled_workouts} %>
      </div>

      <div class="col-md-6">
      <%= display_todays_workout %>
      </div>

    </div>
  </div>
</div>

