<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-6">
            <%= image_tag 'dead_lift.jpg' %>
        </div>

        <div class="col-md-6">
            <div class="jumbotron">
                <h1>Workout Buddy</h1>
                
                <p>Personalize, Create and Organize your own workout schedule</p>
                <%= link_to 'Log In', login_path, class: 'btn btn-default' %>
                <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary' %>
        
            </div>
        </div> 
        
        
        
    </div>
</div>
