<div class="form__padding">
    <div class="container">   

        <h1>New Exercise</h1>

        <%= render partial: 'partials/errors', locals: {obj: @exercise} %>

        <%= render partial: 'form', locals: {exercise: @exercise, workout: @workout} %>
    </div>
</div>